package {{ .GCtx.Group }}.{{ .GCtx.PackageName }}.config;

import {{ .GCtx.Group }}.{{ .GCtx.PackageName }}.model.{{ .SchemaName }};
import com.ai.tx.core.util.AvroDeserializer;
import org.apache.kafka.clients.consumer.ConsumerConfig;
import org.apache.kafka.common.serialization.StringDeserializer;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.kafka.annotation.EnableKafka;
import org.springframework.kafka.config.ConcurrentKafkaListenerContainerFactory;
import org.springframework.kafka.core.ConsumerFactory;
import org.springframework.kafka.core.DefaultKafkaConsumerFactory;
import org.springframework.kafka.listener.SeekToCurrentErrorHandler;

import java.util.HashMap;
import java.util.Map;

@EnableKafka
@Configuration
public class {{ .ChannelName | capitalize }}ConsumerConfig {
    @Value("${spring.kafka.bootstrap-servers}")
    private String kafkaBroker;

    @Bean
    public ConsumerFactory<String, {{ .SchemaName }}> consumerFactory() {
        Map<String, Object> config = new HashMap<>();
        config.put(ConsumerConfig.BOOTSTRAP_SERVER_CONFIG, kafkaBroker);
        config.put(ConsumerConfig.AUTO_OFFSET_CONFIG, "earliest");
        config.put(ConsumerConfig.ENABLE_AUTO_COMMIT_CONFIG, true);
        return new DefaultKafkaConsumerFactory<>(config, new StringDeserializer(), new AvroDeserializer<>({{ .SchemaName }}.class));
    }

    @Bean
    public ConcurrentKafkaListenerContainerFactory<String, {{ .SchemaName }}>{{ .ChannelName }}ConsumerFactoryConfig() {
        ConcurrentKafkaListenerContainerFactory<String, {{ .SchemaName }}> factory = new ConcurrentKafkaListenerContainerFactory<>();
        factory.setConsumerFactory(consumerFactory());
        factory.setErrorHandler(new SeekToCurrentErrorHandler());
        return factory;
    }
}